<<<<<<< HEAD
﻿@{
    Layout = null;
}

@*<html>
=======
﻿<html>
>>>>>>> 1f469b961d7db5815e8fafb2b87cdccf442cca9c
<body background="https://fptshop.com.vn/Uploads/images/2015/Tin-Tuc/AnhNQ/1210/Lo-dien-nha-san-xuat-doc-quyen-chip-a12-cua-iphone-2018-2.jpg">
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<<<<<<< HEAD
    <form class="form-horizontal" action="/registration/loginForm">
=======
    <form class="form-horizontal">
>>>>>>> 1f469b961d7db5815e8fafb2b87cdccf442cca9c

        <table class="table table-responsive table-bordered" align="center" border="1">

            <div class="form-group">
                <label for="lable" class="col-md-7 control-label"><span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:x-large;color:burlywood">Login Form</span></label>
            </div>
            <div class="form-group">
                <label for="inputUserName" class="col-md-4 control-label"><span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:large;color:burlywood">User Name</span></label>
                <div class="col-md-5">
<<<<<<< HEAD
                    <input type="text" class="form-control col-md-4" id="name" placeholder="Enter Username">
=======
                    <input type="text" class="form-control col-md-4" id="inputUserName" placeholder="Enter Username">
>>>>>>> 1f469b961d7db5815e8fafb2b87cdccf442cca9c
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-4 control-label"><span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:large;color:burlywood">Password</span></label>
                <div class="col-md-5">
<<<<<<< HEAD
                    <input type="password" class="form-control col-md-4" id="password" placeholder="Password">
=======
                    <input type="password" class="form-control col-md-4" id="inputPassword" placeholder="Password">
>>>>>>> 1f469b961d7db5815e8fafb2b87cdccf442cca9c

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-md-offset-4">
                   
                    <button type="submit" class="btn btn-primary">Login</button><a href="/registration/register" style="margin-left:20px">Sign Up Here</a>
                </div>
            </div>
        </table>

    </form>
<<<<<<< HEAD
   
</body>
</html>*@ 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/NewLogin.css" rel="stylesheet" type="text/css" />
    <title>NewLogin</title>
</head>
<body>
    <div class="login-box embed-responsive form-group">
        <img src="~/SliderImage/11.jpg" class="Myglipicon responsive img-responsive" />
        <h1>Login Here</h1>
        <form class="form form-group embed-responsive" action="/registration/loginForm">
            <p>User Name:-</p>
            <input type="text" placeholder="enter user name" name="uname" id="uname" />
            <p>Password</p>
            <input type="password" placeholder="enter password" name="upassword" id="upassword" />
           <a href="/registration/loginForm"> <input type="submit" value="Login" name="submit" /></a>
            <a href="/registration/register" style="margin-left:20px">Sign Up Here</a>
                
</form>
    </div>
</body>
</html>
=======
</body>
</html> 
>>>>>>> 1f469b961d7db5815e8fafb2b87cdccf442cca9c
